@import 'mixins.less';

nav {
    display: table !important;
    padding: 0 5px;
    box-sizing: border-box;
    top: 4px;
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
    a {
        padding: 0.5em 0;
        text-decoration: none;
        color: @blue !important;
        transition: 0.3s ease all;
        font-weight: bold !important;
        &:hover {
            color: @red !important;
        }
    }
    #logo {
        display: table-cell;
        white-space: nowrap;
        color: @red !important;
    }
    ul {
        display: table-cell;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left;
        width: 100%;
        li {
            display: inline-block;
            a {
                padding-right: 1em;
                text-decoration: none;
            }
        }
    }
}

.current {
    color: @red;
}

footer {
    padding: @gutter 0 !important;
    opacity: 0.5;
    .responsiveMax(@large, {
        width: 100%;
        padding: @gutter 1.25em !important;
    });
}