@import 'mixins.less';
/* latin-ext */

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * aktiv-grotesk:
 *   - http://typekit.com/eulas/00000000000000003b9b0328
 *   - http://typekit.com/eulas/00000000000000003b9b0329
 *   - http://typekit.com/eulas/00000000000000003b9b032d
 *   - http://typekit.com/eulas/00000000000000003b9b032c
 * aktiv-grotesk-condensed:
 *   - http://typekit.com/eulas/00000000000000003b9ad12a
 *   - http://typekit.com/eulas/00000000000000003b9ad12b
 *   - http://typekit.com/eulas/00000000000000003b9ad12e
 *   - http://typekit.com/eulas/00000000000000003b9ad12f
 * aktiv-grotesk-extended:
 *   - http://typekit.com/eulas/00000000000000003b9ad13a
 *   - http://typekit.com/eulas/00000000000000003b9ad13b
 *   - http://typekit.com/eulas/00000000000000003b9ad13e
 *   - http://typekit.com/eulas/00000000000000003b9ad13f
 * aktiv-grotesk-thin:
 *   - http://typekit.com/eulas/00000000000000003b9ae0fd
 *   - http://typekit.com/eulas/00000000000000003b9ae0fe
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-01-08 22:48:21 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=epb3pie&ht=tk&f=14032.14033.14034.14035.26893.26894.26897.26898.26909.26910.26913.26914.29382.29383&a=13373307&app=typekit&e=css");

@font-face {
font-family:"aktiv-grotesk";
src:url("https://use.typekit.net/af/affdf5/00000000000000003b9b0328/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/affdf5/00000000000000003b9b0328/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/affdf5/00000000000000003b9b0328/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"aktiv-grotesk-italic";
src:url("https://use.typekit.net/af/90ce96/00000000000000003b9b0329/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/90ce96/00000000000000003b9b0329/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/90ce96/00000000000000003b9b0329/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"aktiv-grotesk-bold";
src:url("https://use.typekit.net/af/b5ce2a/00000000000000003b9b032d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/b5ce2a/00000000000000003b9b032d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/b5ce2a/00000000000000003b9b032d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"aktiv-grotesk-bold-italic";
src:url("https://use.typekit.net/af/3e6f7f/00000000000000003b9b032c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/3e6f7f/00000000000000003b9b032c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/3e6f7f/00000000000000003b9b032c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

.tk-aktiv-grotesk { font-family: "aktiv-grotesk",sans-serif; }




@boldItalic: 'aktiv-grotesk-bold-italic', 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;

@bold: 'aktiv-grotesk-bold', 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;

@italic: 'aktiv-grotesk-italic', 'Helvetica Neue Italic', Helvetica, Arial, sans-serif;

@regular: 'aktiv-grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;

.regular {
    font-family: @regular;
    font-weight: 400;
}

.bold {
    font-weight: 700;
}
.bold-italic {
    font-weight: 700;
    font-style: italic;
}
.italic {
    font-style: italic;
}



a {
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
    color: @red;
    outline: 0 !important;
    &:visited {
        color: @red;
    }
}

.center {
    text-align: center;
    margin: 0 auto;
    display: block;
} 

.right {
    text-align: right;
    margin: 0 0 0 auto !important;
    float: right;
}
.btn {
    position: relative;
    border: none;
    background-color: #FFFFFF;
    color: @red !important;
    text-decoration: none;
    font-size: 1.3em;
    padding: 1em 2em;
    margin: @gutter 0;
    transition: 0.3s ease border-radius;
    outline: 0;
    &:after {
        content: '';
        transition: 0.5s ease all;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: @red;
        .roundedCornersRev;
    }
    &:hover {
        color: @white !important;
        background-color: transparent;
    }
    &:hover:after {
        height: 100%;
        z-index: -1;
        .roundedCorners;
    }
}

.roundedCorners {
    animation: roundedCorners 0.5s ease forwards;
}

@keyframes roundedCorners {
    0% {
        height: 3px;
    } 
    50% {
        height: 100%;
        border-radius: 0;
    }
    100% {
        border-radius: @gutter;
        background-color: @blue;
    }
}


.roundedCornersRev {
    animation: roundedCornersRev 0.5s ease forwards;
}

@keyframes roundedCornersRev {
    0% {
        border-radius: @gutter;
        background-color: @blue;
    } 
    50% {
        height: 100%;
    }
    100% {
        border-radius: 0;
        height: 3px;
    }
}

strong {
    font-family: @bold;
}


.selection {
    background-color: lighten(@red, 10%);
    color: @white;
}
::selection {
    .selection;
}
::-moz-selection {
    .selection;
}