<nav class="navigation container home">
    <span id="logo" title="let's getcha back home."><a href="/"><img src="/images/logo.svg" alt="Jason Mares"></a></span>
    <ul>
        <li><a href="{{ site.baseurl }}/" title="Work" class="nav-link"><span>work</span></a></li>
        <li><a href="{{ site.baseurl }}/about/" title="About" class="nav-link"><span>about</span></a></li>
        <li><a href="{{ site.baseurl }}/contact/" title="Contact" class="nav-link"><span>contact</span></a></li>
<!--        <li><a href="{{ site.baseurl }}/blog/" title="Blog" class="nav-link"><span>blog</span></a></li>-->
    </ul>
</nav>