{% include header.html %}

<div class="wrapper">
    <div class="container">
        <div class="three-quarter">
            <ul id="project-list">
                <li>
                    <img src="{{ site.baseurl }}/project/{{ page.folder }}/images/{{ page.image }}" alt="{{ page.title }}">
                </li>
            {% for images in page.images %}
                <li class="{{ page.images-class[forloop.index0] }}">
                    <img src="{{ site.baseurl }}/project/{{ page.folder }}/images/{{ page.images[forloop.index0] }}" alt="{{ page.images-alt[forloop.index0] }}">
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="one-quarter">
            <div class="one-half project-overview">
                <h2>{{ page.title }}</h2>
                {{ content }}
                <br>
            </div>
            <div class="one-half center">
                <h3>Like what you see?</h3>
                <a href="{{ site.baseurl }}/contact/" class="btn">Start a Project</a>
                <a href="{{ site.baseurl }}/contact/" class="btn solid">Set up a Meeting</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>


{% include footer.html %}