{% include header.html %}

<div id="barba-wrapper" class="wrapper">
    <div class="barba-container container {{ page.id }} {{ page.layout }} {{ page.folder }} {{ page.type }}">
        <div class="at-a-glance one-full clearfix">
            <div class="title one-half">
                {% for project in site.pages %}
                {{ forloop.page.priority }}
                {% else %}
                {% endfor %}

                <h1>{{ page.client }}</h1>
                <h4>{{ page.skills }}</h4>
            </div>
            <div class="one-half">
                <h2>{{ page.description }}</h2>
            </div>
        </div>
        <div class="one-full">

            {% for video in page.video %}

            <div class="video-responsive">
                <div class="js-youtube" data-id="{{ page.video }}">
                    <div class="js-youtube-thumbnail thumbnail">
                        <div class="overlay"></div>
                        <img src="{{ site.baseurl }}/images/play-button.svg" alt="Play Button" id="play">
                        <img src="{{ site.baseurl }}/project/{{ page.folder }}/images/{{ page.videothumbnail }}" alt="{{ page.client }} Video Thumbnail" id="vidTh">
                    </div>
                </div>
            </div>

            <div class="video-caption">
                <div class="one-half"></div>
                <p class="bold one-half">
                    {{ page.video-caption[forloop.index0] }}
                </p>
                <div class="clear"></div>
            </div>
            {% endfor %}

            <ul id="project-list">
                <li>
                    <img src="{{ site.baseurl }}/project/{{ page.folder }}/images/{{ page.image }}" alt="{{ page.title }}" id="projectThumbnail">
                    <span class="hide" id="scrollIndicator"></span>
                </li>

                {% for images in page.images %}
                <li class="{{ page.images-class[forloop.index0] }}">
                    <img src="{{ site.baseurl }}/project/{{ page.folder }}/images/{{ page.images[forloop.index0] }}" alt="{{ page.images-alt[forloop.index0] }}" class="{{ page.images-class }}">
                </li>
                {% endfor %}



                {% for testimonial in page.testimonial %}
                <li class="one-half clearfix">
                    <blockquote>
                        <h2>"{{ page.testimonial[forloop.index0] }}"</h2>
                        <span>- {{ page.testimonial-author[forloop.index0] }}</span>
                    </blockquote>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="project-background clearfix">
            <div class="one-half" id="projectbackground">
                <h2>Project Background</h2>
                {{ content }}
                <br>
                <hr>
                <ul class="footnotes clearfix">
                    <li>
                        <h4>Client</h4>
                        <p>{{ page.client }}</p>
                    </li>
                    <li>
                        <h4>Sector</h4>
                        <p>{{ page.industry }}</p>
                    </li>
                    <li>
                        <h4>Discipline</h4>
                        <p>{{ page.skills }}</p>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="call-to-action clearfix">
            <a href="{{ site.baseurl }}/">&larr; <span>Back to Work</span></a>
        </div>
    </div>
</div>


{% include footer.html %}
